# Default ignored files/shelf//workspace.xml# Datasource local storage ignored files/../../../../../../../../../:\Users\hokanosekai\Documents\DEV\JAVA\PLUGINS\EnderPearlCooldown\.idea/dataSources//dataSources.local.xml# Editor-based HTTP Client requests/httpRequests/